*{
margin:0;
padding:0;
}
/* Styling for slider */
html,body{
overflow-x: hidden;
}

.slider{
width: 100%;
height: 737px;
background-image: url(../img/header.jpg);
background-size: cover;
padding-top: 45px;
}
.nav{
width: 80%;
height: 33px;
margin: 0 auto;
}
.nav_left{
float: left;
}
.nav_right_hidden{
display: none;

}
.nav_right_hidden img{
width: 33px;
height: 33px;
float: right;
}
.nav_right{
float: right;
}
.nav_right ul{
display: flex;
justify-content: space-between;
list-style-type: none;
}
.nav_right ul li a{
text-decoration: none;
margin-left: 20px;
line-height: 33px;
color: #ffffff;
font-family: "Open Sans";
font-size: 18px;
font-weight: 500;
text-transform: uppercase;
}
.nav_left p{
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 33px;
}
.headline{
width: 100%;
height: auto;
margin: 230px auto 0;
}
.headline h1{
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 35px;
  font-weight: 300;
  line-height: 70px;
  text-transform: uppercase;
  letter-spacing: 7px;
  text-align: center;
  margin-bottom: 43px;
}
.headline p{
  width: 604px;
  height: 45px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.8px;
  margin: 0 auto;
  text-align: center;
}
.slider_button{
width: 36px;
height: 36px;
margin: 220px auto 0;
border-radius: 50%;
background-color: #19bd9a;
position: relative;
}
.slider_button img{
width: 16px;
height: 16px;
position: absolute;
top:0;
bottom:0;
left: 0;
right: 0;
margin: auto;
}
/* Styling for ABOUT */
.about{
width: 100%;
height: 485px;
background-color: #ffffff;
padding-top: 80px;
}
.about_square{
width:65%;
height: 350px;
background-color: #ffffff;
margin: 0 auto;
}
.about_square_left{
width: 65%;
height: auto;
float: left;
margin-right: 5%;
}
.about_square_left h2{
  color: #333b46;
  font-family: "Source Sans Pro";
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 0 49px 2px;
}
.about_square_left p{
  width: 80%;
  color: #81868e;
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: 0.7px;
}
.about_square_left_button{
width: 140px;
height: 37px;
margin: 33px 0 0 1px;
background-color: #ffffff;
border-radius: 19px;
border: 1px solid #333b46;
display: flex;
justify-content: center;
}
.about_square_left_button a {
line-height: 37px;
color: #333b46;
font-family: "Open Sans";
font-size: 16px;
text-decoration: none;
}
.about_square_right{
width: 30%;
height: 350px;
background-color: #ffffff;
float: right;
display: flex;
justify-content: center;
}
.about_square_right img{
max-width: 100%;
height: auto;
}
/* Details section */
.details{
width: 100%;
height: 550px;
background-color:#f3f3f3;
padding-top: 80px;
}
.details_headline{
width: 100%;
margin: 0 auto 60px;
}
.details_headline h2{
  color: #333b46;
  font-family: "Source Sans Pro";
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 41px;
}
.details_headline p{
  color: #81868e;
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: 0.7px;
  text-align: center;
}
.details_circles{
width: 213px;
height: 53px;
margin: 0 auto 61px;
display: flex;
justify-content: space-between;
}
.details_circle_block{
width: 53px;
height: 53px;
background-color: #81868e;
border-radius: 50%;
position: relative;
}
#green{
background-color: #19bd9a;
}
.details_circle_block img{
width: 30px;
height: 25px;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}
#ideas{
width: 375px;
margin-left: 12%;
color: #464646;
font-family: "Open Sans";
font-size: 20px;
letter-spacing: 0.8px;
margin-bottom: 39px;
}
.details_sep{
width: 76%;
height: 120px;
margin: 0 auto;
display: flex;
justify-content: space-between;
}
.details_left{
width: 35%;
margin-right: 5%;
}
.details_right{
width: 60%;
}
.details_p{
  color: #81868e;
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: 0.8px;
}
/* Featured work */
.featured{
width: 100%;
padding-top: 80px;
}
.featured_projects{
width: 100%;
height: 319px;
}
.featured_projects_whiskey{
width: 50%;
height: 100%;
float: left;
background-image: url(whiskey.png);
background-size: cover;
}
.featured_projects_vintage{
width: 25%;
height: 100%;
float: right;
}
#vintage{
background-image: url(vintage.jpg);
background-size: 100% 100%;
}
#branding{
background-image: url(branding.jpg);
background-size: 100% 100%;
}
.featured_projects_vintage p{
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 319px;
  text-align: center;
}
.featured_submit{
width: 100%;
height: 119px;
background-color: #19bd9a;
}
.featured_submit h3{
float: left;
width: 50%;
height: 100%;
color: #ffffff;
font-family: "Source Sans Pro";
font-size: 20px;
letter-spacing: 0.8px;
line-height: 119px;
margin-left: 170px;
}
.featured_button{
width: 30%;
height: 100%;
float: right;
}
.featured_button_submit{
  width: 140px;
  height: 37px;
  border-radius: 19px;
  border: 1px solid #ffffff;
  margin: 41px auto;
  display: flex;
  justify-content: center;
}
.featured_button_submit a{
line-height: 37px;
text-decoration: none;
color: #ffffff;
font-family: "Open Sans";
font-size: 16px;
}
/* Services */
.services{
width: 100%;
background-color:#f3f3f3;
}
.services_wrapper{
width: 76%;
height: 670px;
margin: 0 auto;
background-color:#f3f3f3;
padding-top: 80px;
}
.services_left{
width: 50%;
height: 506px;
float: left;
}
.services_left_list{
width: 100%;
height: 25%;
}
.services_left_list img{
float: left;
width: 53px;
height: 53px;
margin-right: 44px;
}
.services_left_list p{
width: 420px;
color: #81868e;
font-family: "Open Sans";
font-size: 16px;
letter-spacing: 0.8px;
}
.services_right{
width: 50%;
float: right;
margin-top: 130px;
display: flex;
justify-content: space-between;
}
.services_right_wrapper_block_circle{
width: 120px;
height: 120px;
margin: 0 auto;
border-radius: 50%;
border: 1px solid #047378;
position: relative;
}
.services_right_wrapper_block_circle img{
position: absolute;
left: -2px;
top: -2px;
}
.services_right_wrapper_block_circle p{
text-align: center;
line-height: 120px;
color: #81868e;
font-family: "Open Sans";
font-size: 25px;
letter-spacing: 1.25px;
}
.services_right_wrapper_block h2{
text-align: center;
margin-top: 25px;
color: #81868e;
font-family: Roboto;
font-size: 16px;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 0.8px;
}
/* Impressed? */
.impressed{
width: 100%;
height: 392px;
background-image: url(background.jpg);
background-size: cover;
display: flex;
justify-content: space-around;
}
.impressed_left{
width: 70%;
height: 100%;
}
.impressed_left h2{
  color: #f3f3f3;
  font-family: "Source Sans Pro";
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 80px 0 59px 98px;
}
.impressed_left p{
  color: #b2b3b3;
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 0.8px;
  margin: 0 0 34px 98px;
}
.impressed_right{
width: 30%;
height: 100%;
position: relative;
}
.impressed_right img{
width: 360px;
height: 290px;
position: absolute;
top: -40px;
}
/* Team */
.team{
width: 100%;
background-color: #ffffff;
padding-top: 80px;
}
.team_panes_wrap{
width: 76%;
height: 364px;
margin: 0 auto;
display: flex;
justify-content: space-between;
}
.team_left{
width: 45%;
margin-right: 5%;
}
.team_left img{
max-width: 100%;
height: auto;
}
.team_right{
width: 50%;
height: 100%;
}
.team_right_hwrap{
width: 100%;
height: 40%;
}
.team_right_hwrap h2{
  color: #464646;
  font-family: "Open Sans";
  letter-spacing: 0.8px;
  text-align: right;
}
.team_right_hwrap h3{
  color: #81868e;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin-bottom: 32px;
  text-align: right;
}
.team_right_hwrap p{
  color: #81868e;
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: 0.7px;
  text-align: right;
}
.team_right_swrap{
width: 100%;
height: 60%;
}
.team_right_swrap_stats{
width: 100%;
height: 33.3%;
}
.team_right_swrap_stats_top{
width: 100%;
height: 40%;
}
.team_right_swrap_stats_top_headl{
float: left;
color: #81868e;
font-family: "Source Sans Pro";
font-size: 16px;
text-transform: uppercase;
letter-spacing: 1.6px;
}
#right{
float: right;
}
.percent{
width: 100%;
height: 3px;
background-color: #e1e4e9;
position: relative;
}
.bar{
width: 80%;
height: 5px;
background-color: #19bd9a;
position: absolute;
top: -1px;
}
#bar_web{
width: 65%;
}
#bar_inter{
width: 75%;
}
.team_dots{
width: 50px;
height: 10px;
margin: 20px auto;
display: flex;
justify-content: space-around;
}
.team_contact{
width: 100%;
height: 150px;
background-image: url(mountainn.jpg);
background-size: cover;
}
.team_contact p{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 20px;
  letter-spacing: 0.8px;
  line-height: 90px;
  text-align: center;
}
.team_contact_button{
  width: 140px;
  height: 37px;
  border-radius: 19px;
  border: 1px solid #ffffff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.team_contact_button a{
text-decoration: none;
line-height: 37px;
color: #ffffff;
font-family: "Open Sans";
}
/* Testimonials */
.testimonials{
width: 100%;
height: 580px;
background-color:#f3f3f3;
padding-top: 80px;
}
.testimonials_info{
width: 76%;
height: 316px;
box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05);
background-color: #ffffff;
margin: 60px auto;
}
.testimonials_info_wrap{
width: 100%;
height: 270px;
}
.testimonials_info_photo{
width: 30%;
height: 270px;
float: left;
position: relative;
}
.testimonials_info_photo img{
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
margin: auto;
}
.testimonials_info_text{
width: 70%;
height: 270px;
float:right;
}
.testimonials_info_text p{
  color: #81868e;
  font-family: "Open Sans";
  letter-spacing: 0.8px;
  margin-top: 60px;
}
#founder{
color: #464646;
margin-top: 12px;
}
.testimonials_info_text h2{
  color: #19bd9a;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.64px;
  margin-top: 10px;
}
/* Latest News */
.news{
width: 100%;
height: 690px;
background-image: url(books.jpg);
background-size: cover;
padding-top: 80px;
}
.news_headline{
width: 460px;
height: 100px;
margin: 0 0 5% 12%;
}
.news_headline h2{
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 40px;
}
.news_headline p{
  color: #b2b3b3;
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: 0.7px;
}
.news_menu{
width: 76%;
height: 380px;
margin: 0 auto;
}
.news_menu_left{
width: 70%;
height: 100%;
float: left;
}
#menu_name{
  color: #e1e4e9;
  font-family: "Open Sans";
  font-size: 20px;
  letter-spacing: 0.8px;
  margin-bottom: 12px;
}
#menu_person{
  color: #19bd9a;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin-bottom: 20px;
}
#menu_likes{
  color: #464646;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.4px;
  margin-bottom: 60px;
}
#menu_desc{
  color: #81868e;
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: 0.7px;
  margin-bottom: 50px;
}
#menu_more{
  color: #b2b3b3;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 12px;
}
.news_menu_right{
width: 10px;
height: 50px;
margin-top: 135px;
float: right;
display: flex;
flex-direction: column;
justify-content: space-around;
}
/* Our Price */
.price{
width: 100%;
height: 560px;
background-color: #f3f3f3;
padding-top: 80px;
}
.price_deals_wrap{
width: 76%;
height: 302px;
margin: 60px auto;
display: flex;
justify-content: space-between;
}
.price_deal{
width: 30%;
height: 100%;
}
.price_deal_top{
width: 100%;
height: 65px;
background-color: #19bd9a;
}
.price_deal_top h2{
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  text-align: center;
  line-height: 65px;
}
.price_deal_bottom{
width: 100%;
height: 172px;
background-color: #ffffff;
padding-top: 65px;
}
.price_deal_bottom h2{
  color: #1fbba6;
  font-family: "Source Sans Pro - Black";
  font-size: 42px;
  text-align: center;
}
.price_deal_bottom p{
  color: #81868e;
  font-family: "Open Sans";
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
}
/* Subscribe Us */
.subscribe{
width: 100%;
height: 350px;
background-image: url(sea.jpg);
background-size: 100% 100%;
padding-top: 80px;
}
#subscribe_color{
color: #ffffff;
}
#subscribe_p_color{
color: #ffffff;
}
.subscribe_input_wrap{
width: 545px;
height: 42px;
margin: 60px auto;
display: flex;
justify-content: space-between;
}
.subscribe_input{
  display: block;
  width: 358px;
  height: 40px;
  border: 1px solid #81868e;
  padding-left: 23px;
  background: none;
  outline: none;
  color: #ffffff;
}
.subscribe_input_wrap_button{
  width: 151px;
  height: 42px;
  background-color: #19bd9a;
}
.subscribe_input_wrap_button a{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.14px;
  text-align: center;
  text-decoration: none;
}
input::-webkit-input-placeholder {
color: #f3f3f3;
}
/* Contact Us */
.contact{
width: 100%;
height: 560px;
padding-top: 80px;
background-color: #f3f3f3;
}
.contact_way_wrap{
width: 76%;
display: flex;
justify-content: space-between;
margin: 0 auto;
}
.contact_way_wrap_type{
width: 30%;
height: 100%;
}
.contact_way_wrap_type_top{
width: 100%;
height: 145px;
position: relative;
}
#top_bg1{
background-image: url(contact1.png);
background-size: 100% 100%;
}
#top_bg2{
background-image: url(contact2.png);
background-size: 100% 100%;
}
#top_bg3{
background-image: url(contact3.png);
background-size: 100% 100%;
}
.contact_way_wrap_type_top img{
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
}
#img_type1{
width: 42px;
height: 28px;
}
#img_type2{
width: 34px;
height: 50px;
}
#img_type3{
width: 40px;
height: 46px;
}
.contact_way_wrap_type_bottom{
width: 100%;
height: 100px;
background-color: #ffffff;
padding-top: 30px;
}
.contact_way_wrap_type_bottom h2{
  color: #464646;
  font-family: "Open Sans";
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.64px;
  text-align: center;
  margin-bottom: 25px;
}
.contact_way_wrap_type_bottom p{
  color: #81868e;
  font-family: "Open Sans";
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin: 0 auto;
  text-align: center;
}
/* Submit */
.submit{
width: 100%;
height: 460px;
padding-top: 90px;
}
.submit_input_wrap{
width: 90%;
height: 320px;
margin: 0px auto;
display: flex;
flex-wrap: wrap;
}
.submit_input{
width: 30%;
height: 40px;
padding-left: 1%;
background: none;
outline: none;
color:grey;
border: 1px solid #dfdfdf;
}
#submit_input_center{
margin: 0 3.0%;
}
textarea{
width: 100%;
height: 230px;
resize: none;
background: none;
outline: none;
color:grey;
border: 1px solid #dfdfdf;
margin: 0 auto;
}
.submit_button{
width: 90%;
height: 50px;
margin: 0 auto;
background-color: #19bd9a;
display: flex;
justify-content: center;
outline: none;
border: none;
color: #fff;
}
.submit_button a{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 0.16px;
  text-decoration: none;
}
/* Map */
.map{
width: 100%;
height: 500px;
}
/* Footer */
.footer{
width: 100%;
height: 220px;
background-color: #f3f3f3;
padding-top:80px;
}
.footer h2{
text-align: center;
color: #323a45;
font-size: 30px;
font-weight: 400;
font-family: 'Oswald', sans-serif;
text-transform: uppercase;
}
.footer p{
text-align: center;
color: #81868e;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
letter-spacing: 0.7px;
}
.footer_icons{
width: 170px;
height: 26px;
margin: 35px auto;
display: flex;
justify-content: space-between;
}
.footer_icons a img{
width: 26px;
height: 26px;
}
/* Media */
@media (max-width: 1250px){
.featured_submit h3{
font-size: 15px;
}
.impressed_right img{
width: 280px;
height: 230px;
}
.services_left_list p{
width: 300px;
font-size: 10px;
}
}
@media (max-width: 1050px){
.services_right{
flex-direction: column;
margin-top: 0;
}
.services_right_wrapper_block{
margin-bottom: 40px;
}
.services_right_wrapper_block h2{
margin-top: 10px;
}
.services_right_wrapper_block_circle{
width: 90px;
height: 90px;
}
.services_right_wrapper_block_circle img{
width: 94px;
height: 94px;
}
.services_right_wrapper_block_circle p{
line-height: 90px;
}
.impressed_right{
display: none;
}
.nav_right ul li a{
font-size: 14px;
}
.featured_submit h3{
font-size: 11px;
margin-left: 30px;
}
}
@media (max-width: 768px){
.headline p{
width: 90%;
}
.about_square_left p{
width: 100%;
text-align: center;
}
.about_square_left h2{
text-align: center;
}
.about_square_right{
display: none;
}
.about_square_left {
width: 100%;
}
.about_square_left_button{
width: 200px;
margin: 70px auto;
}
.details_headline p{
width: 90%;
margin: 0 auto;
}
.details_p{
font-size: 10px;
}
#ideas{
margin: 40px auto;
text-align: center;
}










.nav_right ul{
display: none;
}
.nav_right_hidden {
display: block;
}
.contact_way_wrap_type_bottom p{
font-size: 10px;
}
}
@media (max-width: 426px){
.featured_projects_whiskey{
width: 100%;
}
.featured_projects_vintage{
display: none;
}
.featured_submit h3{
display: none;
}
.featured_button{
width: 100%;
padding-top: 41px;
}
.featured_button_submit{
width: 250px;
margin: 0 auto;
}
.services_right{
display: none;
}
.services_left{
width: 100%;
margin: 0 auto;
float: none;
}
.services_left_list img{
margin-right: 10px;
}
.team_right_hwrap h3{
font-size: 10px;
text-align: center;
}
.team_right_hwrap p{
font-size: 10px;
text-align: center;
}
.team_right_swrap{
height: 100%;
}
.team_right_swrap_stats_top_headl{
font-size: 12px;
}
.team_right_swrap_stats{
height: 17%;
}
.impressed_left h2{
margin: auto;
margin-top: 40px;
text-align: center;
}
.impressed_left p{
margin: 40px 0 0 0;
text-align: center;
}
.team_left {
display: none;
}
.team_right{
width: 100%;
}
.team_right_hwrap h2{
text-align: center;
}
.testimonials {
  height: 600px;
}
.testimonials_info {
height: 400px;
}
.testimonials_info_photo{
width: 100%;
height: 160px;
margin-bottom: 30px;
}
.testimonials_info_text{
float: none;
width: 100%;
}
.testimonials_info_text p{
font-size: 10px;
text-align: center;
}
.testimonials_info_text h2{
text-align: center;
}
.team_dots{
margin: 30px auto;
}
#newdots{
margin: 100px auto 20px;
}
.news_headline p{
width: 75%;
font-size: 12px;
}
.price {
height: 400px;
}
.price_deal_top h2{
font-size: 12px;
}
.price_deal_bottom{
height: auto;
padding-top: 20px;
padding-bottom: 20px;
}
.price_deal_bottom h2{
font-size: 20px;
}
.price_deal_bottom p{
font-size: 14px;
}
.subscribe {
height: 300px;
}
.subscribe_input_wrap{
width: 90%;
}
.contact{
height: 450px;
}
.contact_way_wrap_type_top {
height: 100px;
}
.contact_way_wrap_type_bottom{
padding-top: 10px;
height: 80px;
}
.contact_way_wrap_type_bottom h2{
font-size: 10px;
margin-bottom: 10px;
}
.contact_way_wrap_type_bottom p{
font-size: 8px;
}
.submit{
padding-top: 40px;
height: 410px;
}
.submit_input{
width: 100%;
margin-bottom: 20px;
}
#submit_input_center{
margin: inherit;
margin-bottom: 20px;
}
textarea{
height: 100px;
}
}
@media (max-width: 376px){
.slider_button {
margin: 150px auto 0;
}
}
@media (max-width: 320px){
.slider_button {
margin: 120px auto 0;
}
#newdots{
margin: 100px auto 20px;
}
.news_headline p{
width: 65%;
font-size: 10px;
}
#menu_desc{
font-size: 12px;
}
.contact_way_wrap_type_top {
height: 70px;
}
}
